NEXT_PUBLIC_SITE_URL=https://shaikrasiq-portfolio.vercel.app

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=shaikrasiq786@gmail.com
SMTP_PASSWORD=urbg rbet ofhs keby

CONTACT_TO_EMAIL=shaikrasiq786@gmail.com
CONTACT_FROM_EMAIL=shaikrasiq786@gmail.com
